@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

* {font-family:'Asap', serif; }

html {
    background-image:linear-gradient(to right, #bf8, #aff);
    width:100vw;
}
html.error {
    background-image:linear-gradient(to right, #fb8, #f8f);
}

body {
    margin:0;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:top;
    flex-direction: column;
    min-height:100vh;
    width:100%;
}

header {
    display:block;
}
header p {
    color:#444;
    text-align:center;
}

div#pagina {
    padding:40px 0 100px 0;
    text-align:center;
    width:100%;
}

nav {
    display:block;
    width:80%;
    text-align:left;
    margin:auto;
}
ul {
    padding:0;
    margin:0;
}
ul li {
    list-style:none;
    padding:10px;
    border-bottom:1px solid rgba(0,0,0,.3);
}

a {
    text-decoration:none;
    color:#088;
    font-weight:bold;
    padding:3px 6px;
    border-radius:5px;
}
a:hover {
    background-color:#fff;
}

footer {
    width:100%;
    background-color:#345;
    margin-top: auto;
}
footer * {
    color:#fff;
}
footer a:hover {
    background-color:rgba(0,0,0,.3);
}
footer .cnt {
    padding:30px 20px 15px 20px;
}
